{% extends "layout.njk" %}

{% block content %}
 <div id="wrapper">

        <div class="hero">
            <div class="hero_content">
                <h1>As Melhores Receitas</h1>
                <h3>
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </h3>
            </div>
            <div class="hero_img">
                <img src="/images/chef.png" alt="">
            </div>
        </div>
            
        <div class="content">
        </div>
    </div> 
{% endblock %}

   
   

