<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.css">
    <title>Document</title>
</head>
<body>

    <header>
        <div id="wrapper">
            <img src="../public/images/logo.png" alt="" srcset="">
            <div class="links">
                <a href="http://">Home</a>
                <a href="http://">Sobre</a>
                <a href="http://">Receitas</a>
            </div>
        </div>
    </header>

    <div id="wrapper">

        <div class="hero">
            <div class="hero_content">
                <h1>As Melhores Receitas</h1>
                <h3>
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </h3>
            </div>
            <div class="hero_img">
                <img src="./public/images/chef.png" alt="">
            </div>
        </div>
            
        <div class="content"></div>
    </div>
   

    <footer></footer>
</body>
</html>